* {
    margin: 0;
    padding: 0;
}

body, html {
    color: #212121;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

:link, :visited {
    color: #039be5;
    outline: 0;
    text-decoration: none;
}

img, video {
    border: 0;
    max-width: 100%;
}

.button {
    padding: 8px 16px;
    height: 36px;
    min-width: 36px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    font-weight: 500;
}

.button + .button {
    margin-left: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Header */

.devsite-top-section-wrapper {
    position: relative;
    z-index: 10007;
}

.devsite-top-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 96px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.devsite-top-logo-row-wrapper-wrapper {
    position: relative;
}

.devsite-top-logo-row-wrapper {
    background: #fff;
}

.devsite-top-logo-row-wrapper::before {
    background: #f7f7f7;
    bottom: 0;
    content: " ";
    display: block;
    height: 48px;
    position: absolute;
    width: 100vw;
}

.devsite-top-logo-row {
    height: 96px;
    display: flex;
    position: relative;
    padding: 0 24px;
    margin: 0 auto;
    max-width: 1400px;
}

.devsite-product-name-wrapper {
    flex: 1 0 auto;
    display: flex;
    height: 36px;
    margin: 6px 0;
}

.devsite-site-logo-link {
    display: inline-block;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.devsite-site-logo {
    height: 32px;
    margin: 2px 0;
}

.devsite-site-name {
    color: rgba(0, 0, 0, .54);
    display: inline-block;
    letter-spacing: 0;
    margin: 0;
    vertical-align: top;
    white-space: nowrap;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 20px;
    line-height: 36px;
    font-family: Roboto, sans-serif;
}

.devsite-header-upper-tabs {
    position: absolute;
    left: 0;
    top: 48px;
    margin-left: 0;
    width: calc(100% - 275px);
    display: inline-block;
    flex: 1 1 0;
    vertical-align: top;
}

.devsite-doc-set-nav {
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 1 0 auto;
    font-size: 13px;
}

.devsite-doc-set-nav-tab-list {
    min-width: 989px;
    left: 0;
    position: relative;
    white-space: nowrap;
    list-style-type: none;
}

.devsite-doc-set-nav-tab-container {
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
    display: inline-block;
}

.devsite-doc-set-nav-tab {
    color: rgba(0, 0, 0, .54);
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    display: inline-block;
    font: 500 14px/44px Roboto, sans-serif;
    margin: 0;
    padding: 0 24px;
    text-transform: capitalize;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.devsite-product-button-row {
    margin: 0 12px 0 0;
    padding: 6px 0;
    position: fixed;
    right: 0;
    top: 48px;
    visibility: visible;
    flex: 1 0 auto;
    text-align: right;
    z-index: 1;
}

.cloud-free-trial-button {
    background: #2196F3;
    color: #fff;
    font-size: 13px;
    transition: all .3s;

}

.cloud-contact-sales-button {
    background: #fcfcfc;
    color: #424242;
    font-size: 13px;
    transition: all .3s;
}



/* Main content */

.devsite-main-content {
    margin-top: 136px !important;
    margin-bottom: 0;
    padding: 0 10px;
    min-height: calc(100vh - 484px);
    color: #4A5960;
    font-size: 14px;
}

.hero {
    min-height: 380px;
    padding: 0;
    margin-top: -40px;
    position: relative;
}

.hero > div {
    padding: 104px 20px 0;
}

.l-max-width-standard {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px !important;
}

.hero h1 {
    margin: 0;
    color: #4A5960;
    font-size: 46px;
    font-weight: 200;
    font-family: Roboto, sans-serif;
    letter-spacing: -.01em;
    /*    font: 300 34px/40px Roboto,sans-serif;*/
    text-overflow: ellipsis;
}

.hero p {
    font-size: 16px;
    color: #4a5960;
    margin: 20px 0 28px;
}

.hero .button-cloud {
    background: #2B85E7;
    color: rgba(255, 255, 255, .87);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 0 48px;
    margin: 0 16px 0 0;
    height: auto;
    letter-spacing: .01em;
    display: inline-block;
    transition: box-shadow .3s, background-color .3s, color .3s, transform .3s;
}

.hero .button-cloud:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transform: translate3d(0, -1px, 0);
}

.hero .button-cloud-contact {
    background: #fff;
    color: #2b85e7;
    padding: 0 48px;
}

.hero-gear {
    background: url(img/solutions-hero-img.svg) center center no-repeat;
    bottom: 0;
    height: 357px;
    position: absolute;
    right: -10px;
    width: 547px;
    z-index: -10;
}

.background-grey {
    background: #f7f7f7;
    color: #4A5960;
    padding-top: 48px;
    padding-bottom: 96px;
    margin-left: -10000px;
    margin-right: -10000px;
    padding-left: 10000px;
    padding-right: 10000px;
}

.l-max-width-standard {
    margin: 0 auto;
}

.flex-hover-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-hover-card {
    box-shadow: none;
    flex: initial;
    margin: 8px;
    padding: 0;
    width: 284px;
    margin-right: 20px;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: .01em;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.flex-hover-card:hover {
    box-shadow: -1px 5px 25px -5px rgba(0, 0, 0, 0.8);
    transform: translate3d(0, -2px, 0);
}

.inner-card {
    color: #4a5960;
    min-height: 286px;
    padding: 40px 28px 0;
}

.flex-hover-card h3 {
    color: #4a5960;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inner-card p {
    font-size: 14px;
    margin: 16px 0;
    padding: 0;
}

.flex-hover-card span {
    border-top: 1px solid #e4e4e4;
    display: block;
    padding: 16px 28px;
    text-transform: uppercase;
}

/* Footer */

.devsite-footer-linkboxes {
    /*    background: linear-gradient(90deg,#303c42 50%,#37424b 50%);*/
    font: 14px/16px Roboto, sans-serif;
}

.devsite-footer-linkboxes > .devsite-full-site-with {
    max-width: 1400px;
    margin: 0 auto;
}

.devsite-footer-linkboxes-list {
    display: flex;
    padding: 0;
}

.devsite-footer-linkbox:first-child {
    padding-left: 24px;
}

.devsite-footer-linkbox-backup {
    background: #303c42;
}

.devsite-footer-linkbox {
    display: block;
    flex: 1 0 25%;
    margin: 0;
    padding: 24px 20px 32px;
}

.devsite-footer-linkbox-heading {
    color: #fff;
    font: 500 14px/16px Roboto, sans-serif;
    margin: 0 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.devsite-footer-linkbox-list {
    list-style-type: none;
    padding: 0;
}

.devsite-footer-linkbox-item a {
    color: #cfd8dc;
    display: block;
    padding: 8px 0;
}

.devsite-footer-linkbox:last-child {
    padding-right: 24px;
}

.devsite-footer-linkbox-sites {
    background: #37424b;
}

.devsite-footer-linkbox-logo-link {
    border-bottom: 1px solid #455a64;
    display: block;
    margin: 0 -24px 12px -20px;
    padding: 0 24px 16px 20px;
}